
@model RegistrationPageModel

<h1>Profile</h1>
<h2>Welcome @Model.UserName</h2>
<p>Name: @Model.FirstName @Model.LastName</p>
<p>Date of Birth: @Model.DateOfBirth.ToString("MM/dd/yyyy")</p>
<p>Email: @Model.Email</p>

